<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MYOB Payslip Assignment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="app/app.css">
</head>

<div ng-controller="mainController" class="payroll" ng-app="payrollApp" ng-cloak>

	<md-content layout-padding ng-cloak> 
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<h2 flex md-truncate>MYOB Payslip Assigment</h2>
			</div>
		</md-toolbar>
		<md-tabs md-dynamic-height md-border-bottom >
			<md-tab label="Payslip Calculator"> 
				<div ng-hide="payslipResponses.length > 0" layout-padding>
					<md-toolbar class="md-theme-light">
					    <h2 class="md-toolbar-tools">
					    	<span>Employees</span>
						</h2>
					</md-toolbar>
				
		         	<form name="payslipRequestsForm">
						<div ng-repeat="payslipRequest in payslipRequests track by $index">
							<div layout-gt-md="row">															
								<md-input-container class="md-block" flex-gt-sm>
									<label>First name</label> 
									<input ng-model="payslipRequest.firstName" required> 
								</md-input-container>
			
								<md-input-container class="md-block" flex-gt-sm>
									<label>Last name</label> 
									<input ng-model="payslipRequest.lastName" required>
								</md-input-container>
			
								<md-input-container class="md-block" flex-gt-sm>
									<label>Annual Salary</label> 
									<input type="number" ng-model="payslipRequest.annualSalary" min="0" required> 
								</md-input-container>
			
								<md-input-container class="md-block" flex-gt-sm>
									<label>Super Rate</label> 
									<input ng-model="payslipRequest.superRate" pattern="[0-9]+(%)?"  placeholder="%" required>								
								</md-input-container>							

								<md-input-container class="md-block" flex-gt-sm>
									<label>Payment Start Date</label> 
									<md-select ng-model="payslipRequest.paymentStartDate" required>
										<md-option ng-repeat="paymentPeriod in paymentPeriods track by $index" value="{{paymentPeriod}}">
											{{paymentPeriod}} 
										</md-option> 
									</md-select> 									 
								</md-input-container>
									
								<div flex-gt-sm>
									<md-button class="md-raised md-warn" aria-label="Remove" ng-click="remove($index)">Remove</md-button>
        						</div>											
							</div>
						</div>
					</form>
			        <md-content layout="row" layout-align="end center">
			          	<md-button class="md-raised" aria-label="Add" ng-click="add()">Add Employee</md-button> 							          
						<md-button class="md-raised md-primary" ng-click="calculate()" ng-disabled="payslipRequestsForm.$invalid">Calculate Pay</md-button> 		
			        </md-content>
			    </div>   
			    <div ng-show="payslipResponses.length > 0" layout-padding>
			        <md-toolbar class="md-theme-light">
					    <h2 class="md-toolbar-tools">
					    	<span>Payslips</span>
						</h2>
					</md-toolbar>
		         	<div ng-repeat="payslipResponse in payslipResponses track by $index">
						<div layout-gt-md="row">			
							<md-input-container class="md-block" flex-gt-sm>
								<label>Name</label> 
								<input ng-model="payslipResponse.name" disabled> 
							</md-input-container>
							
							<md-input-container class="md-block" flex-gt-sm>
								<label>Pay Period</label> 
								<input ng-model="payslipResponse.payPeriod" disabled> 
							</md-input-container>	
		
							<md-input-container class="md-block" flex-gt-sm>
								<label>Gross Income</label>
								<input ng-model="payslipResponse.grossIncome" disabled>
							</md-input-container>
		
							<md-input-container class="md-block" flex-gt-sm>
								<label>Income Tax</label> 
								<input ng-model="payslipResponse.incomeTax" disabled> 
							</md-input-container>
		
							<md-input-container class="md-block" flex-gt-sm>
								<label>Net Income</label> 
								<input ng-model="payslipResponse.netIncome" disabled> 
							</md-input-container>
							
							<md-input-container class="md-block" flex-gt-sm>
								<label>Super Amount</label> 
								<input ng-model="payslipResponse.superAmount" disabled> 
							</md-input-container>															
						</div>
					</div>

			        <md-content layout="row" layout-align="end center">
			        	<md-button class="md-raised" aria-label="Export" csv-header="payslipsHeaders" ng-csv="payslipResponses" filename="payslips.csv">Export</md-button> 	
			          	<md-button class="md-raised md-primary" aria-label="Close" ng-click="closeCalculations()">Close</md-button> 							          	
			        </md-content>
			    </div>
			</md-tab> 
			<md-tab label="Thank You"> 
				<md-content class="md-padding">
					<div ng-include="'thank-you.html'"></div>					
				</md-content> 
			</md-tab> 
		</md-tabs> 
	</md-content>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>			
	<script src="bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/angular-messages/angular-messages.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
 	<script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>

	<script src="app/service/services.js"></script>
	<script src="app/controller/controllers.js"></script>
	<script src="app/app.js"></script>
</body>
</html>