<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>REA Toy Robot Assignment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="app/app.css">
</head>
<body ng-app="robotApp" ng-cloak>

	<div ng-controller="mainController" class="md-padding" ng-cloak="">
		<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
			<div flex-xs flex-gt-sm="40" layout="column" layout-align="center center">
				<md-card class="card-40-center"> 
					<md-card-title>
						<md-card-title-text> 
							<span class="md-headline">Toy Robot Command Web Interface</span> 
						</md-card-title-text> 
					</md-card-title>

					<div class="md-padding" layout-align="center">								
				        <div layout="column">
				            <div layout="row" flex>		
				            	<md-subheader class="md-primary" flex>{{response}}</md-subheader>																										 
							</div>
						</div>
						<br>
						<div layout="column">
				            <div layout="row" flex>
					            <md-input-container class="md-block" flex>
									<label>Command</label> 									
									<input ng-model="commandString" placeholder="{{commandPlaceholder}}" ng-keypress="($event.charCode==13)? sendCommand() : return"> 
								</md-input-container>												 
							</div>
				        </div>
				        <md-card-actions layout="row" layout-align="center right">		
			                <center>
			                    <md-button class="md-primary md-raised" ng-click="sendCommand()" ng-disabled="commandString == ''">Command</md-button>	     			                                    
			                </center>
			            </md-card-actions> 			
					</div>						           						
				</md-card>
			</div>
		</md-content>
	</div>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>			
	<script src="bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/angular-messages/angular-messages.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
 	<script src="bower_components/angular-material/angular-material.min.js"></script>

	<script src="app/constant/constants.js"></script>
	<script src="app/service/services.js"></script>
	<script src="app/controller/controllers.js"></script>
	<script src="app/app.js"></script>
</body>
</html>