<!doctype html>
<html lang="en">
<head>
	<title>REA Toy Robot Assignment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="robotApp" ng-cloak>

	<div ng-controller="robotController" class="md-padding" ng-cloak="">
		<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
			<div flex-xs flex-gt-xs="40" layout="column" layout-align="center center">
				<md-card class="card-40-center"> 
					<md-card-title>
						<md-card-title-text> 
							<span class="md-headline">Toy Robot Command Web Interface</span> 
						</md-card-title-text> 
					</md-card-title>

					<div class="md-padding" layout-align="center">								
				        <div layout="column">
				            <div layout="row" flex>
								<label>{{response}}</label>																										 
							</div>
						</div>
						<br>
						<div layout="column">
				            <div layout="row" flex>
					            <md-input-container class="md-block" flex-gt-sm>
									<label>Command</label> 
									<input ng-model="commandString" placeholder="PLACE X,Y,F | MOVE | LEFT | RIGHT | REPORT" required> 
								</md-input-container>												 
							</div>
				        </div>
				        <md-card-actions layout="row" layout-align="center right">		
			                <center>
			                    <md-button class="md-primary md-raised" ng-click="sendCommand()">Command</md-button>	     			                                    
			                </center>
			            </md-card-actions> 			
					</div>						           						
				</md-card>
			</div>
		</md-content>
	</div>

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
	
	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	
	<!-- Your application services  -->
	<script src="js/service/services.js"></script>
	
	<!-- Your application controller  -->
	<script src="js/controller/controllers.js"></script>
	
	<!-- Your application bootstrap  -->
	<script src="js/app.js"></script>
</body>
</html>