<!doctype html>
<html lang="en">
<head>
	<title>MYOB Payslip Assignment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<div ng-controller="applicationController" ng-cloak="" class="payroll" ng-app="payroll">

	<div ng-cloak>
		<md-content > 
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="Payslip Calculator"> 
					<md-content layout-padding>
						<form name="userForm">
							<div ng-repeat="payslipRequest in payslipRequests track by $index">
								<div layout-gt-xs="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>First name</label> 
										<input ng-model="payslipRequest.firstName"> 
									</md-input-container>
				
									<md-input-container class="md-block" flex-gt-sm>
										<label>Last name</label> 
										<input ng-model="payslipRequest.lastName">
									</md-input-container>
				
									<md-input-container class="md-block" flex-gt-sm>
										<label>Annual Salary</label> 
										<input ng-model="payslipRequest.annualSalary"> 
									</md-input-container>
				
									<md-input-container class="md-block" flex-gt-sm>
										<label>Super Rate</label> 
										<input ng-model="payslipRequest.superRate"> 
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Payment Start Date</label> 
										<md-select ng-model="payslipRequest.paymentStartDate">
											<md-option ng-repeat="paymentPeriod in paymentPeriods" value="{{paymentPeriod.range}}">
												{{paymentPeriod.range}} 
											</md-option> 
										</md-select> 
									</md-input-container>
								</div>
							</div>
				
							<div layout-gt-xs="row">
								<md-input-container class="md-block" flex-gt-sm>
								<md-button class="md-raised md-primary">Calculate</md-button> </md-input-container>
							</div>
						</form>
					</md-content>
				</md-tab> 
				<md-tab label="Approach"> 
					<md-content class="md-padding">
						<h1 class="md-display-2">Tab Two</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
							venenatis ante augue. Phasellus volutpat neque ac dui mattis
							vulputate. Etiam consequat aliquam cursus. In sodales pretium
							ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
							feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in
							ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a
							tellus. Vivamus convallis sodales ante varius gravida. Curabitur a
							purus vel augue ultrices ultricies id a nisl. Nullam malesuada
							consequat diam, a facilisis tortor volutpat et. Sed urna dolor,
							aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus,
							pulvinar at interdum quis, vehicula sed odio. Phasellus in enim
							venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum
							neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor
							purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec
							luctus mauris semper.
						</p>
					</md-content> 
				</md-tab> 
				<md-tab label="Assumptions"> 
					<md-content class="md-padding">
						<h1 class="md-display-2">Tab Two</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
							venenatis ante augue. Phasellus volutpat neque ac dui mattis
							vulputate. Etiam consequat aliquam cursus. In sodales pretium
							ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
							feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in
							ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a
							tellus. Vivamus convallis sodales ante varius gravida. Curabitur a
							purus vel augue ultrices ultricies id a nisl. Nullam malesuada
							consequat diam, a facilisis tortor volutpat et. Sed urna dolor,
							aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus,
							pulvinar at interdum quis, vehicula sed odio. Phasellus in enim
							venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum
							neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor
							purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec
							luctus mauris semper.
						</p>
					</md-content> 
				</md-tab> 
			</md-tabs> 
		</md-content>
	</div>

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	
	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	
	<!-- Your application bootstrap  -->
	<script src="js/app.js"></script>
</body>
</html>