target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.mvn
mvnw
mvnw.cmd
.target
node_modules
src/main/resources/static/bower_components